.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f9;
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}
.navbar__center {
  width: 60vw;
  position: fixed;
  inset: 0 40vw 0 0;
  padding: 20px 20px;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.4s linear;
  z-index: 2;
}
.navbar__category + .navbar__category {
  margin-top: 20px;
}
.navbar__mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.navbar__close {
  /* padding: 10px; */
  cursor: pointer;
  box-sizing: border-box;
}
.navbar__title {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
}
.navbar__title,
.navbar__mobile {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar__title,
.navbar__icon {
  transition: color 0.5s;
}
.navbar__category {
  position: relative;
  font-size: 1.5rem;
}
.navbar__category:focus-within .navbar__dropdown {
  display: block;
}
.navbar__dropdown {
  width: 100%;
  position: relative;
  padding: 10px 0;
  transition: all 0.5s;
  background-color: transparent;
  z-index: 100;
  display: none;
}
.navbar__mobile--checkbox:checked ~ .navbar__center {
  transform: translateX(0);
}
.navbar__overlay {
  z-index: 1;
  position: fixed;
  inset: 0;
  background-color: #333;
  opacity: 0;
  display: none;
}
.navbar__mobile--checkbox:checked ~ .navbar__overlay {
  opacity: 0.4;
  display: block;
}
.dropdown__item {
  line-height: 1.625;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 2px 30px;
  margin-top: 3px;
  display: block;
  color: var(--text-color);
}
.navbar__category:hover .navbar__list,
.navbar__category:hover .navbar__title {
  color: var(--primary-color);
  cursor: pointer;
}
.dropdown__item:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.dropdown__item:hover .navbar__list {
  color: var(--primary-color);
}

.navbar__right {
  font-size: 1.7rem;
  /* position: relative; */
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.navbar__right:hover,
.navbar__mobile--list:hover {
  cursor: pointer;
}
.navbar__boxSearch {
  margin: 0 auto;
  background-color: #182a27;
  height: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  /* border: 1px solid var(--primary-color); */
  box-shadow: 0 0 5px var(--primary-color);
  overflow: hidden;
}
.box__search {
  flex-grow: 1;
  width: 0;
  transition: all 0.4s ease;
}
.width__boxsearch--active {
  width: 166px;
}
.navbar__boxSearch input {
  padding: 0px 5px 0 5px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.navbar__boxSearch button,
.navbar__boxSearch input {
  outline: none;
  border: none;
}
.navbar__boxSearch button {
  cursor: pointer;
  width: 50px;
  font-size: 1.4rem;
}
/*================================= MAIN========================================== */
.demo {
  width: 100%;
  background-image: url(./img/rm373batch13-089.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  transform: translateY(90px);
  padding: 40px 0 80px 0;
}
.content {
  color: #fff;
}
.content__welcome {
  color: #f8b81f;
  font-weight: 700;
  letter-spacing: 2.6px;
  font-size: 1.4rem;
}
.content__heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
  display: inline-block;
  width: 100%;
}
.content__desc {
  font-size: 1.4rem;
  line-height: 1.4;
}
.content__btn {
  display: inline-block;
  background-color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 3px;
  margin-top: 20px;
  color: #333;
  background-color: var(--primary-color);
}
/* ========================FLEX==================*/
.box__flex {
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 5px;
  margin-top: 40px;
}
.flex__item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #808080;
  line-height: 1.5;
  column-gap: 5px;
}
.flex__content {
  margin-left: 20px;
}
.flex__item1:hover {
  background-color: #1ab69d12;
}
.flex__item2:hover {
  background-color: #ee4a6212;
}
.flex__item3:hover {
  background-color: #8e56ff12;
}
.flex__title {
  font-size: 2rem;
  line-height: 0.5;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2;
}
.flex__icon {
  font-size: 4rem;
  padding-left: 50px;
}
.fa-graduation-cap {
  color: var(--primary-color);
}
.flex__item2 .fa-house-laptop {
  color: #ee4a62;
}
.flex__item3 .fa-house-laptop {
  color: #12042f8f;
}
.flex__desc {
  height: 67px;
  display: flex;
  flex-wrap: wrap;
}

/* ==========================INTRO=================== */
.intro {
  background-image: url(./img/bg__weare2.jpg);
}
.weare {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 300px;
  padding: 60px 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  min-height: 560px;
}
.weare__left {
  text-align: center;
}
.wear__title {
  margin-bottom: 20px;
}
.weare__about {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
}
.weare__effect {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5;
}
.weare__list {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.weare__desc {
  display: none;
  padding: 25px 5px 0px 5px;
  left: -10px;
}

.weare__list--title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.weare__list--title:focus {
  color: var(--primary-color);
}
.weare__list--title::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  bottom: 0;
  transition: transform 0.4s linear, opacity 1s linear;
  background-color: var(--primary-color);
  opacity: 0;
  transform: translateX(-100vw);
}
.weare__list--title:hover::after {
  transform: translateX(0);
  opacity: 1;
}
.weare__list--title:focus::after {
  transform: translateX(0);
  opacity: 1;
}

.weare__desc {
  position: absolute;
}
.weare__list--title:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* ===== Focus 3 title ===== */

.weare__desc--content {
  color: var(--desc-color);
  font-weight: 300;
  transition: opacity 0.5s;
}
.weare__focus {
  color: var(--primary-color);
}
.display__content {
  display: block;
}

/* ==========================weare__right================== */
.weare__img--bottom {
  display: none;
}
.weare__img--top,
.weare__img--bottom {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}
.weare__img--bottom {
  position: relative;
  top: -35px;
  right: -135px;
}

/* ==============================Program============================== */
.program__list {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: -70px;
  column-gap: 10px;
}
.program {
  background-image: url(./img/bgw2.avif);
  background-repeat: no-repeat;
  background-size: cover;
}
.program__primary {
  width: 100%;
}
.program__item {
  width: 100%;
}
.program__title {
  padding: 50px 0 160px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program__title--education {
  font-size: 2.6rem;
  font-weight: 700;
}
.program__title--intro {
  color: var(--desc-color);
  font-size: 1.6rem;
  padding: 50px 0;
}

.program__item {
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
}
.program__picture {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.program__img {
  width: inherit;
  height: 250px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  transition: transform 0.5s;
  object-fit: cover;
}
.program__name {
  font-size: 1.8rem;
  text-align: center;
  padding: 35px 0;
}
.program__name:hover {
  color: var(--primary-color);
}
.program__item:hover .program__img {
  transform: scale(1.1);
}

/* ===========================feelback================== */

.feelback__box {
  display: grid;
  grid-template-columns: 100%;
  /* height: 400px; */
}
.feelback__left--img {
  max-width: 100%;
  height: auto;
  /border-radius: 10px;
  margin: 130px 0;
  /* padding-top: 100px; */
  /* background-clip: content-box; */
}
.feelback__left {
  max-width: 100%;
  border-radius: 10px;
  /* overflow: hidden; */
}
.feelback__right {
  background-color: #fff;
  z-index: 0;
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 10px -4px;
  padding-bottom: 70px;
}
.feelback__pramary {
  width: 100%;
  margin-top: 60px;
}

.feelback__inter {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
.feelback__title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 15px;
}
.feelback__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feelback__item--icon {
  font-size: 3rem;
}
.icon__teach {
  color: rgba(238, 74, 98, 1);
}
.icon__book {
  color: var(--primary-color);
}
.icon__hand {
  color: rgb(141, 158, 220);
}
.icon__tent {
  color: #f8941f;
}
.feelback__desc {
  font-size: 1.4rem;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  max-width: 343px;
  color: var(--desc-color);
}
.feelback__people {
  display: grid;
  /* display: flex; */
  flex-wrap: wrap;
  grid-template-columns: 100%;
  column-gap: 20px;
}

.feelback__people--item:not(.feelback__people--item:first-child) {
  display: none;
}
.feelback__intro {
  text-align: center;
  width: 541px;
  font-size: var(--font-size--mobile);
  font-weight: 700;
  line-height: 50px;
}
.feelback__trick {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feelback__top--img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.feelback__bottom {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
}
.feelback__talk {
  width: 80%;
  display: block;
  padding: 53px 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--desc-color);
}
.fellback__rating {
  display: flex;
  column-gap: 5px;
}
.feelback__start {
  font-size: 1.5rem;
  line-height: 1.5;
  color: yellow;
}
.feelback__name,
.feelback__learning {
  line-height: 1.5;
  font-size: 1.5rem;
}
.feelback__learning {
  color: var(--desc-color);
}
.convert {
  display: flex;
  margin: 52px auto;
  column-gap: 5px;
  transform: translateX(0);
}
.convert__icon:nth-child(2) {
  color: var(--primary-color);
}
.convert__icon:nth-child(odd) {
  color: #1ab69c37;
}

/* =======================even============================== */
.even {
  margin-top: 20px;
  padding-top: 10px;
}
.even__list {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 25px;
  row-gap: 25px;
}
.even__intro {
  font-size: 2.6rem;
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
}
.even__list {
  margin-top: 70px;
}
.even__item {
  overflow: hidden;
  height: 373px;
  border-radius: 5px;
}
.even__top--img {
  width: 100%;
  height: 246px;
  object-fit: cover;
  position: relative;
  border-radius: 5px;
  transition: transform 0.4s;
}

.even__top--day {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  /* align-items: center; */
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  top: -43px;
  left: 245px;
}
.even__bottom {
  width: 100%;
  height: 127px;
  transform: translateY(35px);
  padding: 0px 0 90px 0;
  background-color: #80808027;
  margin-top: -37px;
  position: relative;
  transition: transform 0.6s;
}
.even__item:hover .even__bottom {
  transform: translateY(-55px);
  background-color: #fff;
}
.even__item:hover {
  box-shadow: 2px 2px 5px pink;
}
.even__item:hover .even__seemore {
  opacity: 1;
}
.even__item:hover .even__top--img {
  transform: scale(1.1);
  opacity: 0.5;
}
.even__item:hover .opacity {
  background-color: #182a27;
}

.even__name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding-top: 52px;
}
.even__desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--desc-color);
  padding: 0 10px;
}
.even__seemore {
  box-sizing: border-box;
  width: 138px;
  height: 40px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
  padding-top: 12px;
  top: 144px;
  left: 30px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

.even__seeall {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
  width: 116px;
  margin: 90px auto;
  color: #ff5b5c;
}
.even__seeall:hover {
  cursor: pointer;
  color: var(--primary-color);
}
.even__seeall::after {
  position: absolute;
  content: "";
  width: 0px;
  right: 0;
  top: 25px;
  bottom: 0;
  background-color: var(--primary-color);
  transition: width 0.3s linear;
}
.even__seeall:hover::after {
  width: 100%;
  left: 0;
}

/* ============================Relation======================= */
.relation__list {
  width: 100%;
  /* height: 136px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 140px;
  padding-bottom: 90px;
}
.relation__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.relation__item:nth-child(2),
.relation__item:nth-child(3),
.relation__item:nth-child(4) {
  border-left: 1px solid #80808020;
}

.relation__item--img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.relation__item--img2 {
  width: 100px;
  height: 24px;
}
.relation__item--img3 {
  width: 100px;
  height: 68px;
}

/* ===========================CTA========================== */
.cta {
  background-color: #f7f5f2;
  height: 200px;
  /* margin-top: 160px; */
  padding-bottom: 150px;
}
.cta__title {
  font-size: 2.6rem;
  line-height: 1.4;
  font-weight: 700;
  padding-top: 102px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.cta__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 60px;
  padding: 0 30px;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  background-color: var(--primary-color);
  margin: 20px auto 0px auto;
  position: relative;
  overflow: hidden;
}
.cta__btn--hover {
  z-index: 1;
  display: flex;
  column-gap: 10px;
}
.cta__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #bfffc7;
  width: 0;
  transition: width 0.4s;
  opacity: 0.5;
}
.cta__btn:hover::after {
  width: 100%;
  left: 0;
}
.cta__btn .cta__btn--title {
  color: #fff;
}
/* ========================Footer================================ */
.footer {
  padding: 100px 0;
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__item + .footer__item {
  margin-top: 10px;
}
.footer__list {
  display: grid;
  grid-template-columns: 100%;
}
.footer__contact--img {
  width: 300px;
  height: 119px;
  object-fit: contain;
  margin-bottom: 5px;
}

.footer__content {
  max-width: 400px;
  margin: 0 0 5px;
}
.footer__contact--imfor,
.footer__content--mail,
.footer__link--imfor,
.footer__title--cta {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--desc-color);
}
.footer__content--mail:hover {
  color: var(--primary-color);
}

/* =========================Footer--folow ==================*/

.footer__folow {
  width: 100%;
}
.footer__title {
  font-size: 2rem;
  font-weight: 700;
  /* line-height: 1; */
  padding-bottom: 15px;
}
.footer__title--cta {
  color: #333 !important;
  /* margin: 20px 0; */
}
.footer__input {
  width: 95%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.footer__input--left {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: block;
  background-color: transparent;
  border: none;
  padding-left: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 2px 2px 1px 0px var(--primary-color);
}
.footer__input--right {
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.footer__input--left,
.footer__input--right {
  border-radius: 5px;
}
.footer__social {
  font-size: 1.8rem;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: start;
  column-gap: 20px;
}
.footer__social--fb {
  color: #1877f2;
}
.footer__social--yb {
  color: #c70e0e;
}
.coppyright {
  margin: 10px 0;
  padding: 20px 0;
}
.coppyright__content {
  flex-wrap: wrap;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.coppyright__name,
.coppyright__dev {
  color: var(--primary-color);
  margin: 0 3px;
}

/* =======================================Responsive======================================== */
@media (min-width: 768px) {
  .weare__img--top {
    width: 90%;
    height: auto;
  }
  .weare__img--bottom {
    width: 60%;
    display: block;
  }
  .program__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .feelback__people {
    grid-template-columns: repeat(2, 1fr);
  }
  .feelback__people--item:not(.feelback__people--item:first-child) {
    display: block;
  }
  .feelback__people--item:first-child {
    /* transform: translateX(-100vw); */
  }
  .feelback__people--item:nth-child(3) {
    /* display: none !important; */
  }

  .convert {
    transform: translateX(190px);
  }
  .even__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .relation__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .cta--title {
    font-size: 2.8rem;
  }
  .footer__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__input--left {
    width: 100%;
  }
  .footer__input--right {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .program__list {
    column-gap: 35px;
  }
  .feelback__people {
    grid-template-columns: repeat(3, 1fr);
  }
  .feelback__people--item:nth-child(3) {
    display: block !important;
  }
  .convert {
    transform: translateX(400px);
  }
  .even__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__input {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .navbar__boxSearch {
    display: none;
  }
  .navbar__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    /* inset: 0 40vw 0 0; */
    padding: 20px 20px;
    background-color: transparent;
    transform: translateX(0);
    transition: transform 0.4s linear;
    z-index: 2;
  }
  .navbar__mobile {
    display: none;
  }
  .navbar__category + .navbar__category {
    margin: 0;
  }
  .navbar__dropdown {
    position: absolute;
    display: block;
    min-width: 255px;
    padding: 32px 50px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.4s linear;
  }
  .navbar__mobile--list {
    display: none;
  }
  .dropdown__item {
    text-align: center;
  }
  .container__mobile {
    overflow: visible;
  }
  .navbar__category:hover .navbar__dropdown {
    opacity: 1;
    visibility: visible;
  }
  .box__flex {
    grid-template-columns: repeat(3, 1fr);
  }
  .weare {
    flex-direction: row;
  }
  .weare__right {
    max-width: 50%;
  }
  .weare__img--bottom {
    width: 70%;
    display: block;
    margin-left: -40px;
  }
  .program__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .feelback {
    margin-top: 30px;
  }
  .feelback__box {
    grid-template-columns: repeat(2, 1fr);
  }
  .feelback__right {
    top: 200px;
  }
  .feelback__left--img {
    max-width: 115%;
  }
  .feelback__pramary {
    margin-top: 335px;
  }
  .footer__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
